<nav class="govuk-!-margin-bottom-6" aria-label="Change Box design system">
  <h2 class="govuk-heading-s">Change Box design system</h2>
  <ul class="govuk-list">
    <li><a class="govuk-link {% if activeDs == 'overview' %}govuk-link--no-visited-state govuk-!-font-weight-bold{% endif %}" href="/change-box-ds">Overview</a></li>
  </ul>
  <h3 class="govuk-heading-s govuk-!-margin-top-4 govuk-!-margin-bottom-2">Foundations</h3>
  <ul class="govuk-list">
    <li><a class="govuk-link {% if activeDs == 'colours' %}govuk-link--no-visited-state govuk-!-font-weight-bold{% endif %}" href="/change-box-ds/colours">Colours</a></li>
    <li><a class="govuk-link {% if activeDs == 'typography' %}govuk-link--no-visited-state govuk-!-font-weight-bold{% endif %}" href="/change-box-ds/typography">Typography</a></li>
    <li><a class="govuk-link {% if activeDs == 'spacing' %}govuk-link--no-visited-state govuk-!-font-weight-bold{% endif %}" href="/change-box-ds/spacing">Spacing, radii &amp; shadows</a></li>
  </ul>
  <h3 class="govuk-heading-s govuk-!-margin-top-4 govuk-!-margin-bottom-2">Components</h3>
  <ul class="govuk-list">
    <li><a class="govuk-link {% if activeDs == 'components' %}govuk-link--no-visited-state govuk-!-font-weight-bold{% endif %}" href="/change-box-ds/components">All components</a></li>
  </ul>
  <h3 class="govuk-heading-s govuk-!-margin-top-4 govuk-!-margin-bottom-2">Brand</h3>
  <ul class="govuk-list">
    <li><a class="govuk-link {% if activeDs == 'brand' %}govuk-link--no-visited-state govuk-!-font-weight-bold{% endif %}" href="/change-box-ds/brand">Logo, partners &amp; imagery</a></li>
  </ul>
  <h3 class="govuk-heading-s govuk-!-margin-top-4 govuk-!-margin-bottom-2">Theme</h3>
  <ul class="govuk-list">
    <li><a class="govuk-link {% if activeDs == 'theme' %}govuk-link--no-visited-state govuk-!-font-weight-bold{% endif %}" href="/change-box-ds/theme">Prototype-kit theme</a></li>
  </ul>
  <h3 class="govuk-heading-s govuk-!-margin-top-4 govuk-!-margin-bottom-2">Live kits</h3>
  <ul class="govuk-list">
    <li><a class="govuk-link" href="/change-box/website">Website</a></li>
    <li><a class="govuk-link" href="/change-box/app">App</a></li>
  </ul>
</nav>
